.ContactDiv {
  @include displayFlex(flex, column, center, none);
  @include sectionBase($lightBlack);
  h1 {
    @include sectionHeader($whiteColor);
  }
  .ContactUnderline {
    @include sectionUnderline($whiteColor);
  }

  form {
    @include displayFlex(flex, column nowrap, none, none);
    width: 40%;
    margin: 0 auto;
    @include for-laptop-and-smaller {
      width: 55%;
    }
    @include for-tablet-and-smaller {
      width: 60%;
    }
    @include for-large-phone-and-smaller {
      width: 75%;
    }
    .regFormInput {
      height: 40px;
      background-color: $darkBlack;
      border: none;
      margin-bottom: 4px;
      font-size: 1.1rem;
      color: #fafafa;
      padding: 2%;
      outline-color: $lightBlue;
    }
    .difFormInput {
      height: 150px;
      background-color: $darkBlack;
      border: none;
      font-size: 1.1rem;
      margin-bottom: 4px;
      color: #fafafa;
      padding: 2%;
      outline-color: $lightBlue;
    }
    .formButton {
      height: 40px;
      width: 30%;
      align-self: flex-end;
      font-family: $mainFont;
      background: none;
      color: #fafafa;
      margin-top: 1%;
      font-size: 1.1rem;
      border: 1.45px solid #fafafa;
      cursor: pointer;
      outline: none;
    }
    .formButton:hover {
      border: 1.5px solid $lightBlue;
      color: $lightBlue;
      font-weight: bold;
    }
  }
}
