.AboutMe {
  @include sectionBase($whiteColor);
  margin-bottom: 5%;
  h1 {
    @include sectionHeader($grey);
  }
  .AboutUnderline {
    @include sectionUnderline($grey);
  }
  .AboutMeFlex {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include displayFlex(flex, row nowrap, none, center);
    @include for-tablet-and-smaller {
      flex-flow: column nowrap;
    }
    .AboutMeTextBox {
      height: 100%;
      width: 50%;
      display: flex;
      @include for-tablet-and-smaller {
        width: 100%;
        margin-bottom: 5%;
      }
      .AboutMeText {
        width: 80%;
        text-align: center;
        font-family: $mainFont;
        font-size: 1.5rem;
        margin: auto;
        line-height: 1.2;
        h2 {
          font-weight: bold;
          margin-bottom: 2.5%;
        }
      }
    }
    .AboutMeImages {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      @include for-tablet-and-smaller {
        margin-bottom: 5%;
      }
      .imageAboutMe {
        width: auto;
        height: 115px;
        margin: 0% 5% 0% 5%;
      }
    }
  }
}
