.MainBody {
  position: absolute;
  top: 100%;
  width: 100%;
  .navBarMain {
    height: 55px;
    z-index: 5;
    background: $lightestBlack;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100%;
    border-bottom: 2px solid $lightBlue;

    @include for-small-phone-only {
      padding: 0%;
      flex-flow: column nowrap;
      height: 100%;
      .addPad {
        padding: 2.5% 0% 2.5% 0%;
      }
    }
    .navButtons {
      color: $whiteColor;
      font-family: $mainFont;
      font-size: 1.25rem;
      width: 150px;
      text-align: center;
      cursor: pointer;
    }
    @include for-small-phone-only {
      #nav1 {
        display: none;
      }
      #nav2 {
        display: none;
      }
      #nav3 {
        display: none;
      }
      #nav4 {
        display: none;
      }
    }
    .iphoneScreen {
      display: none;
      @include for-small-phone-only {
        display: inline-block;
        width: 100%;
      }
      .hamburgerFlex {
        display: flex;
        width: 95%;
        flex-flow: column nowrap;
        align-items: flex-end;
        cursor: pointer;
        .hamburgerIcon {
          height: 5px;
          background-color: white;
          margin: 4px;
          width: 35px;
        }
      }
    }
  }
  .colorChange {
    color: $lightBlue !important;
  }
  .displayNav {
    display: inline !important;
  }
}
