.MainBody {
  position: absolute;
  top: 100%;
  width: 100%;
  .navBarMain {
    width: 100%;
    height: 55px;
    z-index: 5;
    padding-left: 5%;
    background: $lightestBlack;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 100%;
    border-bottom: 2px solid $lightBlue;
    .hamBurgerFlex {
      display: flex;
      flex-flow: column nowrap;
      height: 90%;
      justify-content: space-evenly;
      cursor: pointer;
      display: none;
      .hamBurgerMenu {
        width: 35px;
        height: 5px;
        background-color: white;
      }
    }
    @media screen and (max-width: "600px") {
      padding: 0%;
      flex-flow: column nowrap;
      height: 100%;
      .addPad {
        padding: 2.5% 0% 2.5% 0%;
      }
      .hamBurgerFlex {
        display: inline;
      }
    }
    .navButtons {
      color: $whiteColor;
      font-family: $mainFont;
      font-size: 1.25rem;
      width: 150px;
      text-align: center;
      cursor: pointer;
    }
  }
  .colorChange {
    color: $lightBlue !important;
  }
}
