.ScrollUpButton {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 93%;
  width: 50px;
  height: 50px;
  background-color: $purpleColor;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  .ScrollUpButton:focus {
    outline: none !important;
  }
  @include for-tablet-and-smaller {
    left: 90%;
  }
  @include for-large-phone-and-smaller {
    left: 88%;
  }
  img {
    width: 25px;
    height: 25px;
  }
}
