.Projects {
  @include sectionBase($lightGrey);
  h1 {
    @include sectionHeader($grey);
  }
  .ProjectsUnderline {
    @include sectionUnderline($grey);
  }
  .ProjectFlexRepo {
    width: 90%;
    height: 2500px;
    padding-bottom: 2%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: stretch;
    @media screen and (max-width: "1440px") {
      grid-template-columns: auto auto auto auto;
    }
    @include for-tablet-and-smaller {
      height: 100%;
      grid-template-columns: auto auto auto;
    }
    @include for-large-phone-and-smaller {
      grid-template-columns: auto auto;
    }
    @include for-small-phone-only {
      grid-template-columns: auto;
    }
    .repoText {
      border: 1px solid white;
      @include displayFlex(flex, column nowrap, center, none);
      .repoImg {
        margin: 0 auto;
        margin-top: 2%;
      }
      .repoHeader {
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-family: $mainFont;
        font-weight: bold;
      }
      .RepoButton {
        width: 60%;
        height: 30px;
        margin: 0 auto;
        font-family: $mainFont;
        font-weight: bold;
        font-size: 1.05rem;
        margin-bottom: 3.5%;
        background: white;
        border: 1px solid #fafafa;
        box-shadow: 1px 1px black;
        cursor: pointer;
      }
    }
  }
}
